body {
    font-family: 'Lobster', cursive;
}

.navbar-brand {
    background-color:rgb(142, 241, 203);   
    font-size: xx-large;
}

#nav-right {
    padding-left: 720px ;
}

.index-content {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(142, 241, 203);
    width: 500px;
    height: 500px;
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    position: absolute;
}

h1 {
    color:rgb(142, 241, 203);
}

img {
    margin-right: 10px;
}

.portfolio-content {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(142, 241, 203);
    width: 800px;
    height: 1250px;
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    position: absolute;
}

.portfolio-content div img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    margin-left: 5px;
}