body {
    font-family: 'Lobster', cursive;
}

.navbar-brand {
    background-color:rgb(252, 197, 240);   
    font-size: xx-large;
}

.index-content {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 218, 186);
    width: 100%;
    height: 550px;
    margin:  60px 10px 40px 10px;
    padding: 20px;
    position: absolute;
}

h1 {
    color:rgb(252, 197, 240);
}

.portfolio-content {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 218, 186);
    width: 750px;
    height: 950px;
    margin:  60px 10px 40px 10px;
    padding: 20px;
    position: absolute;
}

div img {
    width: 250px;
    height: 250px;
}

.img-index {
    margin: 0px 10px 0px 0px;
}

.img-port1 {
    margin: 10px 0px 20px 40px;
}

.img-port2 {
    margin: 10px 20px 20px 0px;
}


.contact-content {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 218, 186);
    width: 500px;
    height: 500px;
    float: left;
    margin:  60px 10px 40px 10px;
    padding: 20px;
    position: absolute;
}

h2 {
    font-size: x-large;
}

.container {
    max-width: 500px;
    margin: 0px 200px 0px 0px;
}