body {
    font-family: 'Lobster', cursive;
}

.navbar-brand {
    background-color:rgb(252, 197, 240);   
    font-size: xx-large;
    padding: 0.5rem;
    border-radius: 20px
}

.index-content {
    background-color: white;
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 218, 186);
    padding: 20px;
}

h1 {
    color:rgb(252, 197, 240);
}

.portfolio-content {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 218, 186);
    padding: 20px;
}

div img {
    width: 100%;
}

.contact-content {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 218, 186);
    padding: 20px;
}

h2 {
    font-size: x-large;
}

.container {
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}